.background-image-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.background-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a023298;
  z-index: 1;
}

/* Ensure content of the container is visible above the overlay */
.background-image-container > * {
  position: relative;
  z-index: 2;
}
.gradient-custom {
  background: linear-gradient(90deg, #48056b 14%, #6b0c91 61%, #7f1ab8 99%);
}

.inner-shadow {
  box-shadow: inset 1px 1px 3px rgb(0 0 0 / 55%);
}